<div class= container>
<h1>Here are all the decks</h1>
</div>
{{#each decks}}
<div class="row">
  <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{deck_id}}</h5>
       <p class="card-text">{{topic}}</p>
        <a href="/deck/{{deck_id}}" class="btn btn-primary">Go!</a>
        <button class= "btn btn-warning"><i class="fas fa-edit"></i>Edit</button>
        <a href="/delete/{{deck_id}}" class= "btn btn-danger delete-deck"><i class="fas fa-trash-alt"></i></a>
       </div>
    </div>
   </div>
 </div>
{{/each}}
<a href="/newdeck" class="btn btn-success btn-lg btn-block">Add a New Deck</a>





