<div class= container>
<h1>Here are all the decks</h1>
</div>

<div class="row">
  <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
        <h5 class="card-title">Deck 1</h5>
       <p class="card-text">Learn some Concepts with analogies!</p>
        <a href="/deck/:deckid" class="btn btn-primary">Go!</a>
       </div>
    </div>
   </div>
 </div>
