
<style>
  h1{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
  }




</style>





<div class= container>
<h1>ALL YOUR DECKS</h1>
<hr>
</div>


  <div  class="container"> 
    <div class="row">
     
  
       {{#each decks}}
          <div class="col-sm-6">
            <div class="card text-center bg-info text-white">
              <div class="card-body">
                <h5 class="card-title text-uppercase">{{topic}}</h5>
                <p class="card-text"></p>
                <a href="/deck/{{deck_id}}" class="btn btn-secondary">See Cards <i class="fas fa-arrow-right"></i></a>
                 {{!-- <button class= "btn btn-warning"><i class="fas fa-edit"></i>Edit</button> --}}
                <a href="/delete/{{deck_id}}" class= "btn btn-danger delete-deck"><i class="fas fa-trash-alt"></i></a>
              </div>
               <br>
            </div>
            <br>
          </div>
   
         {{/each}}
    </div>
 </div>
 <hr>
<a href="/newdeck" class="btn btn-success btn-lg btn-block">Add a New Deck</a>





