
<div class='container'>
    <h1>Welcome to the Flash Card App</h1>
</div>

<div>


</div>

{{!-- Search Option --}}
{{!-- Login/Logout Option --}}

<div>
    <a href="/deck" class="btn btn-outline-success btn-lg btn-block">Let's Get Started!</a>
</div>

