
<h1>Create a New Deck</h1>

<form action="/newdeck" method="POST">
    <div class="form-group">
        <label>TOPIC</label>
        <input type="text" class="form-control" name="topic" id="">
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<a href="/deck" class="btn btn-info btn-lg btn-block">Back to All Decks</a>