
<div class="container">
    <h1>Your results!</h1>

    <p>You got {{totalRight}}/{{totalNumber}} right!</p>

        <form action="/results" method="POST">
    
                            
        <button type="submit" class="btn btn-primary btn-lg">All Done!</button>
                            
        </form>
        </div>