


   

<!-- Rotating card -->
<style type="text/css">
.image-flip:hover .backside, .image-flip.hover .backside {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}
.image-flip {
margin-bottom:200px;
width: 300px;
height: 250px;
}
.mainflip {
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-ms-transition: 1s;
-moz-transition: 1s;
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: relative;
}
.frontside, .backside {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-moz-transition: 1s;
-moz-transform-style: preserve-3d;
-o-transition: 1s;
-o-transform-style: preserve-3d;
-ms-transition: 1s;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: absolute;
top: 0;
left: 0;
}
.frontside {
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
z-index: 2;
}
.backside {
background: white;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}
.card, .card-img-top {
border-radius: 0;
}
</style>
</head>
<body>
<h1>Testing, testing</h1>
<h2>...one two three.</h2>
<br>
<p>Take a guess at each term. Hover over the card to see if you got it right. Select if you guessed right or wrong.
    We'll show you your results at the end!
</p>
<br><br>
    {{#each cards}}
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card" style="width:20rem;">
                    <img class="card-img-top img- fluid" src="{{imgurl}}" alt="card image">
                    <div class="card-body">
                        <h4 class="card-title">{{question}}</h4>

                    </div>
                </div>
            </div>
            <div class="backside">
                <div class="card" style="width:20rem;">
                    <div class="card-header">{{question}}</div>
                         <div class="card-body">
                            
                            <p class="card-text">{{answer}}</p>
                           <button type="button" class="btn btn-outline-success btn-lg">Right</button>

                            <button type="button" class="btn btn-outline-danger btn-lg">Wrong</button>
                        </div>
                    
                </div>
            </div>
        </div>
        
    </div>

 <h5>I guessed:</h5>
 <p>Select one</p>

 
{{/each}}	

